apiVersion: apps/v1
kind: Deployment
metadata:
  name: my-deployment
  namespace: default
spec:
  replicas: 10
  selector:
    matchLabels:
      tier: fronend
  template:
    metadata:
      labels:
        tier: fronend
    spec:
      containers:
        - name: httpd
          image: httpd:latest
    